.token.function {
  color: var(--code-token-function-name) !important;
}

.token.class-name {
  color: var(--code-token-class-name) !important;
}

.token.template-string > .token.string,
.token.attr-value > .punctuation:not(.attr-equals) {
  color: var(--code-token-attribute-value) !important;
}

.token.number,
.cm-number {
  color: var(--code-token-number) !important;
}

.token.regex {
  color: var(--code-token-regex) !important;
}

.token.constant {
  color: var(--code-token-constant) !important;
}

.token.name,
.cm-variable,
.cm-def {
  color: var(--code-token-attribute-name) !important;
}

.token.tag,
.token.doctype-tag,
.token.interpolation-punctuation,
.token.regex-flags,
.token.boolean,
.cm-atom {
  color: var(--code-token-tag) !important;
}

.token.rule {
  color: var(--code-token-control) !important;
}

.category-css,
.category-javascript,
.category-api,
* {
  --code-background-block: var(--code-background) !important;
}

.CodeMirror-selected,
.CodeMirror-line *::selection {
  background: var(--selected-background) !important;
}

:root .dark,
:root .theme-dark {
  --code-token-tag: #569cd6 !important;
  --code-token-control: #c586c0 !important;
  --code-token-attribute-name: #9cdcfe !important;
  --code-token-function-name: #dcdcaa !important;
  --code-token-class-name: #4ec9b0 !important;
  --code-token-attribute-value: #ce9178 !important;
  --code-token-constant: #4fc1ff !important;
  --code-token-number: #b5cea8 !important;
  --code-token-regex: #d16969 !important;
  --code-token-comment: #6a9955 !important;
  --code-token-selector: #d7ba7d !important;
  --code-token-default: #d4d4d4 !important;
  --code-token-punctuation: var(--code-token-default) !important;
  --code-background: #1e1e1e !important;
  --selected-background: #3a4f77 !important;
}

@media (prefers-color-scheme: dark) {
  :root {
    --code-token-tag: #569cd6 !important;
    --code-token-control: #c586c0 !important;
    --code-token-attribute-name: #9cdcfe !important;
    --code-token-function-name: #dcdcaa !important;
    --code-token-class-name: #4ec9b0 !important;
    --code-token-attribute-value: #ce9178 !important;
    --code-token-constant: #4fc1ff !important;
    --code-token-number: #b5cea8 !important;
    --code-token-regex: #d16969 !important;
    --code-token-comment: #6a9955 !important;
    --code-token-selector: #d7ba7d !important;
    --code-token-default: #d4d4d4 !important;
    --code-token-punctuation: var(--code-token-default) !important;
    --code-background: #1e1e1e !important;
    --selected-background: #3a4f77 !important;
  }
}

:root .light .json,
:root .light .js,
:root.json .theme-light,
:root.js .theme-light {
  --code-token-attribute-name: #0451a5 !important;
}

:root .light .token.tag,
:root .theme-light .token.tag {
  color: #800000 !important;
}

:root .light,
:root .theme-light {
  --code-token-tag: #0000ff !important;
  --code-token-control: #af00db !important;
  --code-token-attribute-name: #ff0000 !important;
  --code-token-function-name: #795e26 !important;
  --code-token-class-name: #267f99 !important;
  --code-token-attribute-value: #a31515 !important;
  --code-token-constant: #0070c1 !important;
  --code-token-number: #098658 !important;
  --code-token-regex: #811f3f !important;
  --code-token-comment: #008000 !important;
  --code-token-selector: #800000 !important;
  --code-token-default: #000000 !important;
  --code-token-punctuation: var(--code-token-default) !important;
  --code-background: #f6f6f6 !important;
  --selected-background: #bdd5fd !important;
}

@media (prefers-color-scheme: light) {
  :root {
    --code-token-tag: #0000ff !important;
    --code-token-control: #af00db !important;
    --code-token-attribute-name: #ff0000 !important;
    --code-token-function-name: #795e26 !important;
    --code-token-class-name: #267f99 !important;
    --code-token-attribute-value: #a31515 !important;
    --code-token-constant: #0070c1 !important;
    --code-token-number: #098658 !important;
    --code-token-regex: #811f3f !important;
    --code-token-comment: #008000 !important;
    --code-token-selector: #800000 !important;
    --code-token-default: #000000 !important;
    --code-token-punctuation: var(--code-token-default) !important;
    --code-background: #f6f6f6 !important;
    --selected-background: #bdd5fd !important;
  }
}

:root {
  --font-code: "Cascadia Code", "Cascadia Mono", Consolas, Menlo, Monaco, Liberation Mono, Lucida Console, monospace !important;
}
